.container-form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-email-name {
  display: flex;
  justify-content: center;
  gap: 4vh;
}

.container-email-name input {
  width: 59vh;
  height: 8vh;
  border-radius: 2vh;
  border: 1px solid black;
}

.field-theme {
  display: flex;
  justify-content: center;
  margin: 2vh;
}

.field-theme input {
  height: 8vh;
  width: 120vh;
  border-radius: 2vh;
  border: 1px solid black;
}

.field-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
}

.field-message textarea {
  resize: vertical;
  box-sizing: border-box;
  height: 20vh;
  width: 120vh;
  border-radius: 2vh;
  border: 1px solid black;
  overflow-y: auto;
}

.container-btn-send {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 200px;
}

.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  width: 30vh;
  height: 5vh;
  margin: 2vh;
  border-radius: 1vh;
  border: 1px solid black;
}

.send-btn:hover {
  transform: translateY(-2px);
  background-color: brown;
  cursor: pointer;
}

.tick_send {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(38, 208, 38);
  border: 1px solid black;
  border-radius: 1vh;
  font-size: 3vh;
  height: 10vh;
  width: 40vh;
}

@media screen and (max-width: 794px){
  .container-email-name {
    flex-direction: column;
  }

  .container-email-name input {
    width: 80vh;
  }

  .field-theme input {
    width: 80vh;
  }

  .field-message textarea {
    width: 80vh;
  }
}

@media screen and (max-width: 476px){
  .container-email-name input {
    width: 50vh;
  }

  .field-theme input {
    width: 50vh;
  }

  .field-message textarea {
    width: 50vh;
  }
}