.container-Skill-img {
  margin: 5vh;
  margin-top: 0;

  height: auto;
  background-image: url("https://i.ibb.co/h9NMTgH/cup-of-coffee-g6bac84711-1280.jpg");
}

.container-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(85, 23, 23, 0.753);
  height: auto;
  gap: 4vh;
}

.container-skills h2 {
  display: flex;
  justify-content: center;
  text-align: center;

  margin: 6vh;
  color: rgb(255, 255, 255);
}

.container-content-skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 8vh;
}

.container-content-skills li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 20vh;
  height: 18vh;
  margin: 2vh;
  background-color: black;
  border-radius: 50%;
  color: aliceblue;
}

.container-content-skills li i {
  font-size: 9vh;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 794px) {
  .container-content-skills {
    display: flex;
    justify-content: center;
  }

  .container-content-skills p {
    display: none;
  }

  .container-content-skills li {
    width: 14vh;
    height: 10vh;
  }

  .container-content-skills li i {
    font-size: 6vh;
  }
}
