.services-api {
  height: auto;
  background-color: rgb(222, 226, 226);
  gap: 2vh;
}

.services-api h2 {
  display: flex;
  justify-content: center;
}

.container-card-service {
  display: flex;
  justify-content: center;
}

.card-service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7vh;
}

.service-1 {
  background-color: white;
  border-radius: 3vh;
  border: 1px solid black;
  width: 50vh;
  height: 60vh;
}

.service-1:hover {
  transform: translateY(-3px);
  box-shadow: 1vh 1vh 0.7vh 1vh;
}

.service-2 {
  background-color: white;
  border-radius: 3vh;
  border: 1px solid black;
  width: 50vh;
  height: 60vh;
}

.service-2:hover {
  transform: translateY(-3px);
  box-shadow: 1vh 1vh 0.7vh 1vh;
}

.service-3 {
  background-color: white;
  border-radius: 3vh;
  border: 1px solid black;
  width: 50vh;
  height: 60vh;
}

.service-3:hover {
  transform: translateY(-3px);
  box-shadow: 1vh 1vh 0.7vh 1vh;
}
