.header_app {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Instrument Serif", serif;
  font-size: 3.4vh;
  width: 100%;
  height: 9vh;
  background: #1A1E38;
  z-index: 99;
}


.content_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  width: 14vh;
}

.logo {
  width: 7vh;
}

.list_content {
  display: flex;
  height: 7vh;
}

.list_content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 8vh;
  width: 65vh;
  margin: 0;
  color: #F5F3F3;
}

.list_content ul li:hover {
  color: #5D9B1B;
  scale: 1.04;
  cursor: pointer;
}

.list_content div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16vh;
}

.list_content div button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Instrument Serif", serif;
  font-size: 3.4vh;
  color: #040404;
  background: #5D9B1B;
  width: 13vh;
  height: 5vh;
  border-radius: 1.5vh;
  border: none;
}

.list_content div button:hover {
  background-color: #507c21;
  scale: 1.04;
  cursor: pointer;
}

/** Mode Lite **/

.header_app.lite {
  background: #8A8D9C;
}