.container-content-api {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.container-i-ico {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 8vh;
}

.Api-crud {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.container-service-api-btn {
  display: flex;
  gap: 1vh;
}

.btn-service-api button {
  border-radius: 1vh;
  border: 1px solid black;
  font-size: 2vh;
  width: 16vh;
  height: 4vh;
}

.btn-service-api button:hover {
  transform: translateY(-1px);
  background-color: rgb(156, 158, 166);
  cursor: pointer;
}
