.container-about-me {
  display: flex;
  height: auto;
}

.image-url-me {
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-url-me img {
  width: 50%;
  height: 60%;
  border-radius: 2vh;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 60%;
}

.title-about {
  font-size: 3vh;
  color: rgb(77, 73, 73);
}

.about-me-content h2 {
  margin: 10px 0;
}

.about-me-content h4 {
  color: rgb(77, 73, 73);
}

.about-me-content b {
  color: rgb(250, 4, 4);
}

.about-me-content p {
  width: 90%;
  font-size: 3vh;
  margin: 3px 0;
  color: rgb(53, 48, 48);
}

.btn-downloand-CV {
  margin: 2vh;
}

.btn-downloand-CV button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20vh;
  height: 6vh;
  border-radius: 2vh;
  border: 1px solid black;
}

.btn-downloand-CV a {
  text-decoration: none;
}

.btn-downloand-CV button:hover {
  transform: translateY(-3px);
  cursor: pointer;
  background-color: rgb(220, 43, 43);
}

@media screen and (max-width: 796px){
  .container-about-me {
    flex-direction: column;
  }
  
  .image-url-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    width: 100%;
  }

  .image-url-me img {
    width: 30%;
  }

  .about-me-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}